.notification {
    position: fixed;
    right: 30px;
    bottom: 30px;
    min-width: 350px;
    max-width: 600px;
    min-height: max-content;
    padding: 10px;
    transition: box-shadow 0.3s ease-out;
    border: 1px solid var(--paletteColor8);
    border-radius: 10px;
    background-color: var(--paletteColor25);
    color: var(--paletteColor11);
    text-align: center;
    cursor: pointer;
    user-select: none;
    word-break: break-all;
    z-index: 1;

    & h6 {
        margin: 0;
        font-size: 26px;
    }

    & span {
        display: block;
        top: 10px;
        padding-top: 5px;
    }

    &:hover {
        box-shadow: 0 0 1px 1px var(--paletteColor25);
    }
}
